<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    離線建置: 所有 NuGet 套件已下載至 ./nuget-packages/ 目錄
    內網環境不需要連線至 nuget.org

    切換方式:
    - 離線模式: 取消註解 localPackages，註解 nuget.org
    - 線上模式: 取消註解 nuget.org，註解 localPackages (預設)
  -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="localPackages" value="./nuget-packages" />
  </packageSources>
</configuration>
